body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #F4F4F4;
}

@font-face {
    font-family: NautilusPompilius; /* Гарнитура шрифта */
    src: url(/../fonts/Nautilus.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Roboto Light; /* Гарнитура шрифта */
    src: url(/../fonts/3962.ttf); /* Путь к файлу со шрифтом */
   }

.logo {
    float: left;
}

.site_title {
   
    font-size: 24px;
    width: 200px;
    text-align: center;
    font-family: "NautilusPompilius";
    float: left;
    margin-left: 50px;
    margin-top: 6px;

}
.phone-block {
      margin-left: 50px;
    width: 190px;
    float: left;
    margin-top: 14px;
    margin-bottom: 5px;
    font-family: "Roboto Light";
}
.lang {
     width: 126px;
    float: left;
    height: 74px;
    font-size: 19px;
    font-weight: normal!important;
    color: #999;
       font-family: "Roboto Light";
    text-align: center;
    margin-top: 10px;
}
.information {
    width: 100%;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
  
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
width:100%;
}
.logo>a>img {
    width: 220px;
}
.header-info_conteiner {
   width: 70%;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 0px;
}
p.phone_1,p.phone_2 {
    margin: 0 0 0 0;
}

.info-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto Light";
    padding-top:7px;
}
.information {
    width: 100%;
    background: #fafafc;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
.left-plashka {
    width: 16%;
    height: 100%;
    background: #F4F4F4;
    position: fixed;
    padding-top: 128px;
        border-right: 1px solid #e4e4e4;
}
.container.body-content {
    position: fixed;
    right: 0;
   
}
.inneer-content {
    width: 84%;
    float: right;
    position: fixed;
    right: 0;
    overflow:scroll;
        height: 100%;
}
.navbar-collapse.collapse {
    margin-left: 20%;
}

.searchbox {
    width: 766px;
    height: 100px;
    position: absolute;
       margin: 52px 0 0 -304px;
    background: #F4F4F4;
   display: none;
   padding:10px;
       border: 1px solid #E4E4E4;
}
.searchbox:before {
    content: '';
    position: absolute;
    left: 18px;
    top: -40px;
    border: 20px solid transparent;
    border-bottom: 20px solid #F4F4F4;
    border-top: -19px solid green;
        border: 1px solid #E4E4E4;
}
ul.nav.navbar-nav>li {
    margin-right: 46px;
    font-size: 17px;
        font-family: "Roboto Light";
}

.page_content {
    margin: 37px 10px 0 10px;
    text-align: justify;
   
}
.left-plashka>ul {
    margin-top: 20px;
}
.fixed_slider {
   
}
footer {
    display: none;
}


/*SELECT*/

.ui-widget-header {
    border-bottom: 1px solid gray!important;
   
    background: none!important;
    color: #222222;
    /* font-weight: bold; */
}
.ui-datepicker-title {
    color: #C32361!important;
}
.ui-datepicker td {
   
    padding: 0!important;
}
table.ui-datepicker-calendar>tbody>tr>td>a {
    background: none!important;
}
table.ui-datepicker-calendar>thead {
    color: #C32361!important;
}
/* Sprite */
.radio, .drop li, .slct, .check {
	background: url(sprite.png) 0 0 no-repeat;
}

/* Form */
.customForm {
	color: #444444;
	width: 282px;
	margin: 2em auto;
	font: 13px/1.8 Helvetica;
}
.customForm input, .customForm textarea {
	font: 13px Helvetica;
}

/* = Input */
.customForm input {
	    width: 205px;
    float: left;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #FFFFFF;
    margin-right: 5px;
    /* border-radius: 5px; */
}
.customForm textarea {
	display: block;
	/* = Убираем скролл */
	overflow: auto;
	
	/* = Убираем увеличение */
	resize: none;
	width: 300px;
	height: 50px;
	
	/* = Добавим фон, рамку, отступ */
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 5px 0 0 0;
	padding: 8px 0 8px 10px;
}
/* = Переключатели Radio Button */
.radio {
	display: block;
	height: 25px;
	background-position: 0 -56px;
	coloR: #444;
	cursor: pointer;
	text-indent: 22px;
	font-size: 13px;
}
.radio.active {
	background-position: 0 -86px;
}
.radio.error {
	border-color: #ff0000;
}

/*	=	CheckBox */
/* Стилизируем чекбокс, точнее скрываем его */
.check input[type=checkbox] {
	position: absolute;
	left: -10000px;
}
.check {
	background-position: 0 3px;
	padding-left: 25px;
	cursor: pointer;
	position: relative;
}
.check.active {
	background-position: 0 -27px;
}

/*	=	Select */
.slct {
	display: block;
	
	border: 1px solid #cecece;
	background-color: #FFFFFF;
	width: 205px;
	padding: 4px 15px 4px 10px;
	color: #444;
	background-position: 290px -145px;
	
	/*
		Супер финт обрезаем текст
		чтобы не вылезал за рамку
	*/
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
	
}
.slct.active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}
.drop {
	margin: 0;
	padding: 0;
	width: 205px;
	border: 1px solid #cecece;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
}
.drop li {
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	display: block;
	color: #444;
	padding: 4px 15px 4px 25px;
	background-position: 10px -119px;
}
.drop li:hover {
	background-color: #e8e8e8;
	color: #222;
}

/*	=	File Load */
/* Стили для контейнера */
.file-load-block {
	width: 310px;
	height: 35px;
	overflow: hidden;
	position: relative;
}
/* работаем с инпутом который конкретно file */
.file-load-block input[type=file] {
	/* делаем кроссбраузерную прозрачность */
	opacity: 0;
	filter: alpha(opacity=0);
	
	/* Позиционируем абсолютно отсносительно контейнера по правому краю */
	position: absolute;
	top: 0;
	right: 0;
	
	/* 
	Задаем высоту и делаем шрифт огромным 
	для того чтобы кнопка "обзор" занимала все пространство контейнера
	*/
	height: 35px;
	font-size: 600px;
	
	/* Ставим наш инпут поверх всего содержимого */
	z-index: 2;
	cursor: pointer;
	width: auto;
}
/* Стилизируем инпут и кнопку которые под загрузчиком */
.file-load-block input[type=text] {
	z-index: 1;
	width: 190px;
	padding-right: 10px;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
}
.file-load-block button {
	position: absolute;
	right: 0;
	top: 2px;
	width: 90px;
	height: 28px;
	border: 1px solid #ccc;
	background: #fff;
	color: #666;
	border-radius: 5px;
	box-shadow: inset 0 2px 2px #ccc; 
}
.file-load-block .button-hover {
	box-shadow: 0 0 2px #ccc;
}

/*	=	Reset Form */
.reset-form button {
	width: 90px;
	height: 28px;
	border: 1px solid #ccc;
	background: #fff;
	color: #666;
	border-radius: 5px;
	box-shadow: inset 0 2px 2px #ccc;
	cursor: pointer;
}
.reset-form button:hover {
	box-shadow: 0 0 2px #ccc;
}
.reset-form button:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}

/*	=	Form Send */
.sendmail button {
	width: 90px;
	height: 28px;
	border: 1px solid #ccc;
	background: #fff;
	color: #666;
	border-radius: 5px;
	box-shadow: inset 0 2px 2px #ccc;
	cursor: pointer;
}
.sendmail button:hover {
	box-shadow: 0 0 2px #ccc;
}
.sendmail button:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}

.left-plashka>ul {
    list-style-type: none;
    margin-left: -18px;
}
.left-plashka>ul>li {
    margin-bottom: 15px;
}
.left-plashka>ul>li>a {
    color: #999;
    font-size: 17px;
 
}
.select>a {
    color: gray;
    text-decoration: none;
}

img#large_foto1_pic {
    width: 238px;
}
img#foto1_pic {
    width: 117px;
}
.img_prew {
    width: 250px;
    height: 142px;
    overflow: hidden;
    float: left;
}
.name_obj_prew>h2 {
    color: #c32361;
    font-size: 20px;
    font-weight: 700;
}
.street_prew {
    color: gray;
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 10px;
}
.inneer-content_sec {
    width: 84%;
    float: right;
    margin-top: 10%;
        height: 80%;
}
h2.prew_head_name {
    display: none;
}

.obj_price_in {
       float: left;
    border: 1px solid #c32361;
    margin-right: 5px;
    background:white;
}
.before_price_prew {
    border-bottom: 1px solid #C32361;
    margin: 2px 6px 12px 5px;
    color: gray;
}
.price_prew {
    width: 100%;
    height: 81px;
}
.inner_price_prew {
    margin: 0 10px 10px 4px;
    color: #C32361;
    text-align:center;
}
.left_cont_prew {
    float: left;
    margin-right: 25px;
    margin-top:-21px;
}

a.bottom_ac_prew {
    display:block;
    font-size: 19px;
    background: white;
    border: 2px solid #C32361;
    color: #C32361;
    padding: 5px 0;
    font-weight: 500;
    text-decoration: none;
    transition-duration: 1s;
}

a.bottom_ac_prew:hover {
    background: #CE2361;
    color: white;
    transition-duration: 1s;
}

.right_cont_prew {
    width: 250px;
    height: 180px;
    float: left;
        margin-top: -5px;
        margin-bottom:-50px;
}
.bottom_prew_1 {
        height: 38px;
    width: 204px !important;
    text-align: center;
    margin-bottom: 5px;
    z-index:9999;
}
a.bottom_ac_prew._ac_prew2 {
    padding: 5px 0;
        display: block;
}
a.ui-state-default.ui-state-active {
    background: #C32361!important;
}

/*SPOILER*/
.faqRoot {width: 800px;margin: 0 auto;padding: 0;}
.faqindex {float: right;width: 190px;font-family: consolas,verdana,helvetica,sans-serif;}
.faqindex a, .faqindex a:visited {text-decoration: none;color: #666;}
.faqindex a:active, #faqindex a:hover {color: #000;border-bottom:dotted #ccc 1px;}
.faqindex ul {list-style-type: square;list-style-image: none;list-style-position: outside;padding-left:25px;line-height: 18px;margin-top: 5px;font-size:80%;}
.faqindex ul li {color:#666666;white-space:nowrap;}
.faqindex h2 {padding: 0;margin-bottom: 0;border-bottom: dotted 1px #ccc;color: #666666;}
.faq {float:left;width: 100%;;margin: 0 auto; font-family: consolas,verdana,helvetica,sans-serif;}
.faq {margin-bottom: 25px; margin-top: 15px;
}
.faq .faqcontent {margin: 0 10px 0 10px;font-size: 95%;}
.faq h2.faqopened, .faq h2.faqclosed {
    cursor: pointer;padding: 0 0 0 15px;margin-bottom: 0;font-size:13px;

}
.faq h2.faqclosed:hover {color: black;}
.faq h2.faqclosed {
        display: block;
    width: 164px;
    color: #666666;
    background: transparent url(../img/pluss.png) no-repeat scroll 0 0px;
    background-size: contain;

}

.faq h2.faqopened {
    color: black;
    background: transparent url(../img/minus.png) no-repeat scroll 0 -1px;
    background-size: contain;
}

.faqindex {
    display: none;
}

span.up_currency {
color:#CE2361;
}
span.down_currency {
color:#CE2361;
}
/*END SPOILER*/


.in_flat_prew {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.temp>span {
    font-size: 43px;
    position: absolute;
    margin-left: 33px;
        margin-top: 29px;
}
.temp {
    height: 107px;
   margin-top:20px;
    margin-left: 27px;
    margin-bottom:-17px;
}
.seperator {
height:1px;
border-bottom:1px dotted #E4E4E4;
}
.value_usd {
    float: left;
    margin-right: 16px;
}
.kyrsi {
       margin: 10px 0 5px 24px;
    font-family: "Roboto Light";
    font-weight: 500;
    color: #777;
  
}
#obj_prew {
       min-height: 201px;
    margin-top: 25px;
    padding-left:25px;
        padding-top: 25px;
        display: inline-block;
            width: 100%;
}
.page_block {
    margin-top: 33px;
}
.titel_page>h2 {
    color: #c32361;
    font-family: "Roboto Regular";
}

.firs_img_page {
    float: left;
    width: 245px;
    overflow: hidden;
    height: 138px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.firs_img_page>img {
    width: 245px;
}
.top_sec_img {
    width: 500px;
    height: 140px;
}
.down_sec_img {
    width: 500px;
}
.second_img_page>img {
    width: 116px;
    margin-right: 6px;
}

.opisanie_page>h2 {
    font-size: 19px;
    font-weight: 600;
}
.jile_page>h2 {
    font-size: 19px;
    font-weight: 600;
}
.atribute_page>h2 {
    font-size: 19px;
    font-weight: 600;
}

.detail_page_2>span {
    font-weight: 700;
}
.detail_page_1 {
    float: left;
    margin-right: 6px;
}
.detail_page_2 {
    /* float: left; */
    margin-right: 5px;
}
.jile_page {
    width: 595px;
}
.detail_page_0 {
    width: 275px;
    float: left;
}
.jile_page {
    width: 595px;
    height: 80px;
    border-bottom: 1px dotted #E4E4E4;
}
.select {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.block_img_page {
    float: left;
    height: 284px;
    width: 494px;
}
.bron_right {
       height: 221px;
    width: 280px;
    float: left;
    background: white;
    padding: 0 16px;
}
.opisanie_page {
    width: 756px;
}
.text_in_bron {
    margin-bottom: 20px;
    /* margin-top: 44px; */
}
.podvinyli_knopky {
    margin-left: 32px;
}
.bron_right>div>.rateit {
    margin-top: 32px;
    zoom: 1.5;
    margin-left: 30px;
}
.opisanie_page {
    width: 756px;
    margin-top: 302px;
}
.page_margin {
    margin-left: 20px;
}
.bron_right_price {
    width: 280px;
    margin-left: -16px;
    background: black;
    height: 42px;
    color: white;
    padding-top: 10px;
    text-align: center;
}
/*	=	Select */
.slct_2 {
	display: block;
	border-radius: 5px;
	border: 1px solid #cecece;
	background-color: #FFFFFF;
    width: 204px;
	padding: 4px 15px 4px 10px;
	color: #444;
	background-position: 290px -145px;

	/*
		Супер финт обрезаем текст
		чтобы не вылезал за рамку
	*/
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	

}
.slct_2.active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}
.drop_2 {
	margin: 0;
	padding: 0;
	width: 204px;
	border: 1px solid #cecece;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
}
.drop_2 li {
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	display: block;
	color: #444;
	padding: 4px 15px 4px 25px;
	background-position: 10px -119px;
}
.drop_2 li:hover {
	background-color: #e8e8e8;
	color: #222;
}
/*	=	Select */
.slct_3 {
	display: block;
	border-radius: 5px;
	border: 1px solid #cecece;
	background-color: #FFFFFF;
    width: 204px;
	padding: 4px 15px 4px 10px;
	color: #444;
	background-position: 290px -145px;

	/*
		Супер финт обрезаем текст
		чтобы не вылезал за рамку
	*/
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	

}
.slct_3.active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}
.drop_3 {
	margin: 0;
	padding: 0;
	width: 204px;
	border: 1px solid #cecece;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
}
.drop_3 li {
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	display: block;
	color: #444;
	padding: 4px 15px 4px 25px;
	background-position: 10px -119px;
}
.drop_3 li:hover {
	background-color: #e8e8e8;
	color: #222;
}
.my_slider {
    width: 200px;
    float: left;
   
}

div#slider-range {
    margin-top: 23px;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background: #C32361!important;
}
span.ui-slider-handle.ui-state-default.ui-corner-all.ui-state-hover,span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 8px;
}
button.search_btn {
    background: #C32361;
    color: white;
    width: 115px;
    height: 83px;
    border: none;
}






div#faqindex>ul {
    display: none;
}
div#faqindex>h2 {
    display: none;
}

.bottom_prew {
    text-transform: uppercase;
}

.faq>h2 {
    margin: -13px 0 0 325px;
}

input#amount {
    background: none;
}

a.active {
    border-bottom: 2px solid #C32361;
}
.grey {
    background: #e6e6e6;
    /* width: 100%; */
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #A3A3A3!important;
border-bottom: 2px solid #c32361
}



@media screen and (max-width: 1201px) {
    ul.nav.navbar-nav > li {
        margin-right: 10px;
        font-size: 0.8em;
    }

    .header-info_conteiner {
        width: 78%;
    }

    .logo {
        float: left;
        width: 20%;
    }

        .logo > a > img {
            width: 99%;
        }

    .site_title {
        margin-left: 2px;
        width: 35%;
    }

    .phone-block {
        margin-left: 2px;
        width: 24%;
    }

    .lang {
        width: 18%;
    }



}

.prew_table {
    width: 1008px;
}

.prew_table td {
    vertical-align:top;
}

.preview_obj {
    margin-left:20px !important;
}

.prev_mini_pics {
    width:202px;
    height:179px;
    cursor:pointer;
}

.prew_table_main_pic {
    width:416px;
    height:365px;
}
.prew_large_foto_td {
    width:416px;
}
.prew_large_foto_minipics_table {
    margin-left:10px;
}
.foto1_mini_pic {
    margin-bottom:7px;
}
.rating_table {
    margin-left:25px;
    height:365px;
    background-color:white;
}
.rating_table_head {
    width:355px;
    height:71px;
    background-color:#323232;
    color:white;
    vertical-align:middle !important;
    text-align:center;
    font-family:Arial;
    font-size:22px;
}
.prew_total {
    height:94px;
    vertical-align:middle !important;
    text-align:center;
    font-family:Arial;
    font-size:28px;
    background-color:white;
}

.rating_table_td_key {
    background-color:white;
    font-family:Arial;
    font-size:18px;
    padding-left:10px;
    padding-bottom:10px;
    width:50%;
}
.rating_table_td_value {
    background-color:white;
    vertical-align:middle !important;
    text-align:center;
}
.add_review {
    width:275px;
    height:46px;
    color:#c4225e;
    border-color:#c4225e;
    border:solid;
    text-align:center;
    vertical-align:middle;
    padding-top:5px;
    font-family:Arial;
    font-size:22px;
    margin-top:15px;
    cursor:pointer;
}

#black_layer {
    background-color: black; 
    height: 100%; 
    width: 100%;
    position: absolute; 
    opacity: 0.9;
    display:none;
    z-index:9999;
        top: 0px;
}
.black_layer_close {
    color:white;
    float:right;
    padding-right:20px;
    padding-top:20px;
    font-size:30px;
    font-family:Arial;
    cursor:pointer;
}

#addReviewContainer {
    width:100%;
    height:450px;
    position:absolute;
    margin:150px auto;
}

.rw_table {
    margin:0px auto;
    background-color:transparent;
    font-family:Arial;   
}

.rw_table td{
 vertical-align:top !important;   
}
.rw_table_query {
    width:650px;
    border:none;
}

.rw_table_query td {
    padding:5px 5px 5px 0px;
}

.rw_table_query textarea {
    padding:5px 5px 5px 0px;
    background-color:transparent;
    border-color:white;
    height:215px;
    color:white;
}

.empty_td {
    width:200px;
}
.rw_table_query input{
    background-color:transparent;
    color:white;
    border-left:none;
    border-right:none;
    border-top:none;
    font-size:14px;
}
.rw_rating_header {
    color:white;
    font-family:Arial;
    font-size:18px;
    width:250px;
    text-align:center;
    margin-bottom:25px;
}

.rw_rating {
    color:#d3d3d3;
    font-family:Arial;
    font-size:18px;
    margin-left:25px;
    height:249px;
    margin-top:5px;
}
.rw_rating_total {
    text-align:center;
}
.black_add_review {
    width:275px;
    height:46px;
    color:white;
    
    border:1px solid white;
    text-align:center;
    vertical-align:middle;
    padding-top:5px;
    font-family:Arial;
    font-size:22px;
    margin-top:15px;
    cursor:pointer;
}
.rate_val {
    text-align:center;
}





.searchbox:before {
    content:'';
    position:absolute;
    width:30px;
    height:25px;
    border: none;
    margin-top: 16px;
    background-image:url('../img/trehygolka.png')
}


a.hide-show {
    border-bottom: none!important;
}
.massage {
      display: none;
    height: 50px;
    width: 100%;
    background: #C32361;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
}
.right_cont_prew>.star_prew {
    zoom: 1.5;
}


div#bron {
    display:none;
        background: rgba(255, 255, 255, 0.73);
    width: 100%;
    min-height: 800px;
    z-index: 999999;
    position: absolute;
    margin-top: -80px;
}

.bron_in {
    background: white;
  width: 565px;
    position: relative;
    z-index: 999999;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
    padding: 25px;
}


.bron_p_1>input {
    width: 300px;
    float: right;
    
    height: 34px;
}

.bron_in > .black_layer_close {
    position: absolute;
    right: 0;
    margin-top: -88px;
    color: white;
}

.bron_p {
    float: left;
    font-size: 20px;
}

.bron_p_1 {
    width: 500px;
    height: 50px;
}

input.col-gos_input {
    width: 77px;
    float: left;
  margin-left: 72px;
}

input.sent_bron_btn {
        width: 150px;
    float: right;
    margin: -50px 14px 0 0px;
    background: none;
    border: 2px solid #c32361;
    text-transform: uppercase;
    font-size: 20px;
    color: #C32361;
}
.bron_right>.datepicker {
    width: 123px;
}
.data_obertka {
    margin-top: 10px;
}
.data_in_obj {
    width: 120px;
    float: left;
}
.data_in_obj.my_obertka {
    margin-right: 8px;
}
.chubzik {
   
    width: 30px;
    height: 30px;
    background-image: url('../img/chubzik.png');
    position: absolute;
    margin-left: 250px;
    margin-top: 1px;
}

.born_plashka {
    background: #323232;
    padding-left: 39px;
}

.born_plashka {
    background: #323232;
    color: white;
    font-size: 20px;
    width: 564px;
    height: 46px;
    line-height: 44px;
    margin-left: -24px;
    margin-right: 48px;
    margin-top: -25px;
    margin-bottom: 25px;
}



/*DATE CSS*/


/* Default styling for jQuery Datepicker v5.0.1. */
.datepick {
	background-color: #fff;
	color: #000;
	border: 1px solid #444;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 90%;
}
.datepick-rtl {
	direction: rtl;
}
.datepick-popup {
	z-index: 1000;
}
.datepick-disable {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.datepick a {
	color: #fff;
	text-decoration: none;
}
.datepick a.datepick-disabled {
	color: #888;
	cursor: auto;
}
.datepick button {
    margin: 0.25em;
    padding: 0.125em 0em;
    background-color: #fcc;
    border: none;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    font-weight: bold;
}
.datepick-nav, .datepick-ctrl {
	float: left;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
}
.datepick-ctrl {
	background-color: #600;
}
.datepick-cmd {
	width: 30%;
}
.datepick-cmd:hover {
	background-color: #777;
}
.datepick-ctrl .datepick-cmd:hover {
	background-color: #f08080;
}
.datepick-cmd-prevJump, .datepick-cmd-nextJump {
	width: 8%;
}
a.datepick-cmd {
	height: 1.5em;
}
button.datepick-cmd {
	text-align: center;
}
.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
	float: left;
	padding-left: 2%;
}
.datepick-cmd-current, .datepick-cmd-today {
	float: left;
	width: 35%;
	text-align: center;
}
.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
	float: right;
}
.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
}
.datepick-month-nav {
	float: left;
	background-color: #777;
	text-align: center;
}
.datepick-month-nav div {
	float: left;
	width: 12.5%;
	margin: 1%;
	padding: 1%;
}
.datepick-month-nav span {
	color: #888;
}
.datepick-month-row {
	clear: left;
}
.datepick-month {
	float: left;
	width: 15em;
	border: 1px solid #444;
	text-align: center;
}
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
	height: 1.5em;
	background-color: #444;
	color: #fff;
	font-weight: bold;
}
.datepick-month-header select, .datepick-month-header input {
	height: 1.4em;
	margin: 0em;
	padding: 0em;
	border: none;
	font-size: 100%;
}
.datepick-month-header input {
	position: absolute;
	display: none;
}
.datepick-month table {
	width: 100%;
	border-collapse: collapse;
}
.datepick-month thead {
	border-bottom: 1px solid #aaa;
}
.datepick-month th, .datepick-month td {
	margin: 0em;
	padding: 0em;
	font-weight: normal;
	text-align: center;
}
.datepick-month th {
	border: 1px solid #777;
}
.datepick-month th, .datepick-month th a {
	background-color: #777;
	color: #fff;
}
.datepick-month td {
	background-color: #eee;
	border: 1px solid #aaa;
}
.datepick-month td.datepick-week {
	border: 1px solid #777;
}
.datepick-month td.datepick-week * {
	background-color: #777;
	color: #fff;
	border: none;
}
.datepick-month a {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
	background-color: #eee;
	color: #000;
	text-decoration: none;
}
.datepick-month span {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
}
.datepick-month td span {
	color: #888;
}
.datepick-month td .datepick-other-month {
	background-color: #fff;
}
.datepick-month td .datepick-weekend {
	background-color: #ddd;
}
.datepick-month td .datepick-today {
	background-color: #f0c0c0;
}
.datepick-month td .datepick-highlight {
	background-color: #f08080;
}
.datepick-month td .datepick-selected {
	background-color: #777;
	color: #fff;
}
.datepick-month th.datepick-week {
	background-color: #777;
	color: #fff;
}
.datepick-status {
	clear: both;
	background-color: #ddd;
	text-align: center;
}
.datepick-clear-fix {
	clear: both;
}
/*END CALENDAR*/

/*START SLIDING TEXT*/

#demo_navi {
	z-index: 99999;
	position: fixed;
	top: 0px;
	height: 50px;
	width: 100%;
	background: url(../images/bar_bg.png);
	border-bottom: 1px solid #0d0d0d;
	box-shadow: 0px 2px 15px rgba( 0, 0, 0, 0.6);
}

#demo_navi a {
	text-decoration: none;
}

#demo_navi  .logo {
	background: url(../images/logo_add.png) no-repeat;
	font-size: 30px;
	padding: 0px 0px 0px 70px;
	line-height: 50px;
	color: #eeeeee;
	font-weight: ;
	text-shadow: 0px 1px 1px #000;
	float: left;
}

#demo_navi  .demo {
	font-size: 12px;
	padding: 0px 0px 0px 5px;
	line-height: 40px;
	color: #eeeeee;
	font-weight: ;
	text-shadow: 0px 1px 0px #000;
	float: left;
}

#demo_navi  .name {
	font-size: 18px;
	padding: 0px 20px 0px 0px;
	line-height: 48px;
	color: #eeeeee;
	font-weight: ;
	text-shadow: 0px 1px 0px #000;
	float: right;
}



a.small {
    font-size:12px;
}

a.medium {
    font-size:14px;
}

a.big {
    font-size:18px;
}

a.otherbuttons {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 8px 12px;
  background: -moz-linear-gradient(
    top,
    #6b6b6b 0%,
    #242424);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#6b6b6b),
    to(#242424));
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #000;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
  margin: 10px 5px;
}

a.greenotherb:hover {
  background: -moz-linear-gradient(
    top,
    #bbd624 0%,
    #689425);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#bbd624),
    to(#689425));
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #507d15;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
}

a.redotherb:hover {
  background: -moz-linear-gradient(
    top,
    #f03554 0%,
    #942538);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#f03554),
    to(#942538));
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #7d1515;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
}
	#binder {
		display: block;
		width: 600px;
		vertical-align: top;
		overflow: hidden;
		margin-right: auto;
		margin-left: auto;
	}
	
	.list {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		width: 100000px;
		text-align: left;
		background: url('images/wood.png') bottom left no-repeat;
	}
		
		.list li {
			display: inline-block;
			width: 560px;
			margin: 2.2em 1.4em;
			position: relative;
			vertical-align: bottom;
		}
			
	.next, .prev {
		display: block;
		position: absolute;
		width: 80px;
		height: 35px;
		cursor: pointer;
		border-radius: 5px;
        
	}
	div#binder>ul>li {
    width: 500px;
    height: 40px;
}
	.next {
		  margin-top: -4.3em;
    right: 19%;
		background: url('../img/next.png') center center no-repeat;
	}
	
		.next:hover {
			background: rgba(255,255,255,0.3) url('../img/next.png') center center no-repeat;
		}
	
	.prev {
		margin-top: 3em;
		left: 18%;
		background: url('../img/prev.png') center center no-repeat;
	}
	
		.prev:hover {
			background: rgba(255,255,255,0.3) url('../img/prev.png') center center no-repeat;
		}
	h1.otzivi {
    font-size: 24px;
    color: grey;
}
/*END SLIDING TEXT*/
.down_otziw {
    width: 100%;
    margin-top:336px;
}

.down_block_bron {
    width: 600px;
    height: 200px;
}
.down_bron {
      width: 854px;
    height: 248px;
    float: left;
}
#datepicker,#datepicker_1,#datepicker_2 {
    float: left;
        margin-right: 5px;
}



#carousel-slide {
  position: relative;
  width: 60%;
 margin: 0 0 0 86px;
}

#slides-car {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
}

#slides-car ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides-car li {
  width: 100%;
  height: 250px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}

/* Styling for prev and next buttons */

.btn-bar {
  width: 60%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

#buttons {
  padding: 0 0 5px 0;
  float: right;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 50px;
  float: left;
  outline: 0;
  margin: 0 60px;
  color: #b14943;
  text-decoration: none;
  display: block;
  padding: 9px;
  width: 35px;
}

a#prev:hover,
a#next:hover {
  color: #FFF;
  text-shadow: .5px 0px #b14943;
}

.quote-phrase,
.quote-author {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}
a#prev-car {
    float: left;
   margin: -252px 0 0 -610px;
    position: absolute;
    color: grey;
}
a#next-car {
    position: absolute;
    margin: -251px 0px 0 156px;
    color: grey;
}
.quote-phrase {
  
  font-size: 24px;
  color: #999;
  font-style: italic;
  text-shadow: .5px 0px #b14943;
}

.quote-marks {
  font-size: 30px;
  padding: 0 3px 3px;
  position: inherit;
}

.quote-author {
  font-style: normal;
  font-size: 20px;
  color: #b14943;
  font-weight: 400;
  height: 30px;
}

.quoteContainer,
.authorContainer {
  display: table;
  width: 100%;
}

.left_rew_detail_ubs {
    width: 500px;
    float: left;
        margin-bottom: 10px;
}
p.name_detail {
    float: left;
    /* height: 30px; */
}
p.date_detail {
    float: right;
}
.body_rew_detail {
    width: 500px;
    margin-top:44px;
}
.left_rew_header {
    float: left;
}
.right_rew_header {
    float: right;
}
.rew_detail_ubs {
    float: left;
    margin-right: 44px;
    margin-bottom:25px;
}
.right_rew_detail_ubs {
    float: left;
    margin-left: 25px;
    width:250px;
    background:white;
}
.header_line_rew-det {
    background: #323232;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.star_det_right {
    float: right;
}
.starr_rew_inline {
    float: left;
}
.block_rew {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.lang > span {
    cursor:pointer;
}
.lang > span:hover {
    text-decoration:underline;
}