body {
    padding-top:0;
        background-image: url("/../img/admin-back.jpg");
            background-size: cover;
}

.body-content {

}

/*Меню*/
.left-nav_admin {
    width: 180px;
    height: 100%;
    background: #3A3A3A;
    position: fixed;
}

ul.admin-nav {
 
    list-style-type: none;
}

.admin-menu {
   
}

ul.admin-nav>li>a {
    font-size: 14px;
    color: white;
    font-size: 15px;
}
ul.admin-nav>li {
        margin: 0 -3px 0 -5px;
    padding: 7px 0px 8px 10px;
}

ul.admin-nav_hallo {
    background: white;
    border-right: 1px dotted gray;
    list-style-type: none;
    margin-left: -15px;
    
}

ul.admin-nav {
    padding: 5px;
}

ul.admin-nav>li:hover {
    background: black;
}



/* root element for tabs  */
div.panes div {
	padding: 15px 10px;
    border: 1px solid #F7F7F7;
    border-top: 0;
   
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.68);
}
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom: 1px solid #F7F7F7;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	    margin: 0 0 0 1px !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

	font-size:11px;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 111px;
	text-align:center;	
	text-decoration:none;
	color:#000;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: -652px -31px;	
	color:#fff;	
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -652px -62px;		
	cursor:default !important; 
	color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.w1 			{ background-position: -519px 0; width:134px; }
ul.tabs a.w1:hover 	{ background-position: -519px -31px; }
ul.tabs a.w1.current { background-position: -519px -62px; }

/* width 2 */
ul.tabs a.w2 			{ background-position: -366px -0px; width:154px; }
ul.tabs a.w2:hover 	{ background-position: -366px -31px; }
ul.tabs a.w2.current { background-position: -366px -62px; }


/* width 3 */
ul.tabs a.w3 			{ background-position: -193px -0px; width:174px; }
ul.tabs a.w3:hover 	{ background-position: -193px -31px; }
ul.tabs a.w3.current { background-position: -193px -62px; }

/* width 4 */
ul.tabs a.w4 			{ background-position: -0px -0px; width:194px; }
ul.tabs a.w4:hover 	{ background-position: -0px -31px; }
ul.tabs a.w4.current { background-position: -0px -62px; }


/* initially all panes are hidden */ 
div.panes div.pane {
	display:none;		
}
.large_admin {
    float: left;
}
.large_photo_admin {
    width: 800px;
    height: 200px;
}
.small_admin {
    float: left;
   
}
.container.body-content {
    overflow: scroll;
}
.container.body-content {
    position: absolute;
    right: 0;
}
input[type="text"] {
    width: 200px;
}