
@{
    ViewBag.Title = "Языки";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li><a href="/Admin/LangugeList">Языки</a></li>
    <li><a href="/Admin/PhrasesList">Фразы</a></li>
    <li><a href="/Admin/TranslateList">Перевод</a></li>
</ul>

