
@{
    ViewBag.Title = "Настройки объектов";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Настройки объектов</h2>

<ul>
    <li><a href="/Admin/LiveConditionsList">Варианты жизненных условий</a></li>
    <li><a href="/Admin/AttributesList">Список атрибутов</a></li>
    <li><a href="/Admin/RegionList">Список регионов</a></li>
    <li><a href="/Admin/ObjectsList">Список объектов</a></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

